table {
  border-collapse: collapse;
  text-align: center;
  margin-left: 20px; 
  caption-side: bottom;
  width: 425px;
}

td, th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

th {
  font-weight: bold;
}

thead {
  font-weight: bold;
}

tbody tr {
  background-color: rgb(228, 182, 234);
}

#contenido {
  width: 280px;
  margin: 2em auto;
}

#contenido2 {
  width: 2000px;
  margin: 0 auto;
}

#contenido3 {
  width: 870px;
  margin: 0 auto;
}

#contenido4 {
  width: 100px;
  margin: 0 auto;
}

html {
  align-items: center;
}

body {
  background-color: rgb(250, 222, 243);
  font-family: Arial, sans-serif;
  margin: 20px;
  justify-content: center; 
  align-items: center;
}

h1 {
  color: #1A5276;
  font-family: Cambria;
}

p {
  text-align: justify;
}

header {
  background-color: #f8c5f0;
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

header nav ul li {
  position: relative;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 1 1 48%; 
  margin: 1%; 
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
}

.item h2 {
  text-align: center;
}

.item table {
  width: 100%;
  border-collapse: collapse;
}

.item table, .item th, .item td {
  border: 1px solid black;
}

.item th, .item td {
  padding: 8px;
  text-align: left;
}
